html, body{
	padding:0px;
	margin:0px;	
	width:100%;
	height:100%;
	background-color:#fafafa;
}
img{
	border:0px;	
}
a{
	text-decoration:none;	
}

#top{
	z-index:2;
	width:100%;
	height:54px;
	position:relative;
	background-color:#1b2631;	
}
#top .menu{
	position:absolute;
	right:10px;
	top:5px;
}
#right{
	z-index:3;
	position:absolute;
	right:0px;
	width:12px;
	top:0;
	background-color:#82bf40;	
}

#bottom{
	width:100%;
	height:12px;
	position:absolute;
	z-index:2;
	top:1530px;
	background-color:#82bf40;	
}

#left{
	position:absolute;
	width:12px;
	left:0px;
	top:0;
	background-color:#1b2631;	
}

#area_esq{
	width:230px;
	position:absolute;
	left:12px;
	top:54px;
	background-color:#f3f3f3;
}
#area_esq .fb-like{
	margin-left:10px;	
}
#logo{
	width:230px;
	height:230px;
	position:relative;
}
#logo img{
	top:30px;
	position:relative;	
}
#area_esq{
	text-align:center;	
	position:absolute;
}
#area_esq .menu{
	width:100%;
	text-align:center;
	position:relative;
	background-color:#ebebeb;
}
#area_esq .menu .botoes_menu{
	width:100%;
	height:33px;
	display:block;
	color:#0c212e;
	font-size:18px;
	padding-top:20px;
	position:relative;
}
#area_esq .menu .botoes_menu span{
	z-index:2;
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	left:0;
		
}
#area_esq .menu .botoes_menu .over{
	height:100%;
	width:0px;
	background-color:#82bf40;
	position:absolute;
	top:0;
	
}
#area_esq .menu .botoes_menu_on{
	width:100%;
	height:33px;
	display:block;
	color:#0c212e;
	font-size:18px;
	padding-top:20px;
	position:relative;
}
#area_esq .menu .botoes_menu_on span{
	z-index:2;
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	left:0;
	color:#fff
		
}
#area_esq .menu .botoes_menu_on .over{
	height:100%;
	width:100%;
	background-color:#82bf40;
	position:absolute;
	top:0;
	
}




#area_esq .menu .linha{
	width:100%;
	height:2px;
	background-image:url(../imgs/separador_menu.gif)
}

#area_esq  .news{
	border-radius:3px;
	width:199px;
	height:43px;
	left:15px;
	position:relative;
	background-color:#82bf40
	
}
#area_esq  .news .corpo_texto{
	font-size:17px;
	color:#fff;
	width:130px;
	float:left;
	margin-top:9px; margin-left:10px;
	background-color:transparent;
	border:0;	
}
#area_esq  .news .btn_submeter{
	position:absolute;
	margin-top:5px;	
	right:10px;
	top:0px;
}
label.error {  font-size:10px; top:47px; left:5px; position:absolute; font-family:'UniversNextW04-320CondL'; }



#area_esq  .afiliates{
	margin-left:10px;	
}
#area_esq  .afiliates .item{
		width:64px;
		height:59px;
		border-radius:6px;
		background-color:#cccccc;
		float:left;
		margin-left:4px;
		margin-top:4px;
}
#area_esq .enquire{
	text-align:left;	
	color:#0c212e;
	width:200px;
	margin-left:15px;
	line-height:18px;
}



#grid-content {
	width:100%;
	top:0;
	margin-left:242px;
	list-style-type: none;
	position:absolute;
	left:0px;
	line-height:30px;
	
}

#grid-content .quadrado {
	width:201px;
	height:184px;
	background-color:#fff;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:5px;
	
}

#grid-content .horizontal{
	width:452px;
}
#grid-content .horizontal img{
	float:left
}
#grid-content .horizontal .quadrado{
	float:left
}
.legenda_mapa {
	bottom:60px;
	position:absolute;
	z-index:2;
	margin-left:20px;	
}
#grid-content .social {
	width:226px;
	height:449px;
	background-color:#fff
}
#grid-content li img{
	display:block
}
#grid-content li span{
	position:absolute;	
	z-index:10
}
#grid-content li .corpo_texto{
	line-height:20px;	
}
#grid-content li a{
	font-size:15px;	
	text-decoration:underline;
}
#grid-content li span .icon_play{
	float:left;	
	margin-top:20px;
	margin-left:20px;
}
#grid-content li .titulo{
	background-color:#82bf40;
	font-size:15px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:6px;
	padding-right:6px;
	color:#0c212e;
	line-height:15px;
	display:inline-block;
}
#grid-content .instructors{
	width:226px;
	height:449px;
	background-color:#fff;
}
#grid-content .instructors .foto{
	width:226px;
	height:226px;
	background-color:#696969;
}
#grid-content .instructors .seta{
	position:relative;
	background-image:url(../imgs/seta_topo.png);
	width:33px;
	height:15px;
	top:-15px;
	left:50%;
	margin-left:-16px;
}
#grid-content .instructors .area_texto{
	position:relative;
	padding-top:10px;
	padding-left:20px;
}
 #slides_inactivo {
      display: none;
	 left:0;
	
	
	position:relative;
	z-index:1
    }
#slides{
	position:relative;
	   width: 678px;
        height: 449px;
}
   
#slides .headline_header{
	font-size:46px;	
	line-height:40px;
	margin-top:30px;
	margin-left:30px;
}

#slides .headline_header .btn_saibamais{
	position:relative;
	margin-top:30px;
}
    .slidesjs-pagination {
		margin-top:-35px;
		height:19px;
		  margin-left:240px;
	position:relative;
      list-style: none;
	  z-index:80000000
    }

    .slidesjs-pagination li {
      float: left;
	  margin-left:15px;
	  z-index:80000000
    }

    .slidesjs-pagination li a {
      display: block;
      width: 19px;
      height: 0;
      padding-top: 19px;
      background-image: url(../imgs/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
	  
    }
	
	 #slides div img {
		 position:absolute;
		 top:0;
		 
	 }
	 
	
	 
	  #slides div .headline_header {
		 position:absolute;
		 top:0;
		 
	 }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -20px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -20px
    }
	
#map_canvas{
	height:449px;
	width:450px;
	position:relative;
}

/*estilos interior*/
#content_interior{
	width:680px;
		background-color:#fff;

	top:0px;
	margin-left:242px;
	list-style-type: none;
	position:relative;
	left:0px;
	line-height:30px;	
}

#content_interior .linha{
	width:100%;
	height:1px;
	background-color:#82bf40
}
.top_content_instructors{
	height:235px;
	width:100%;
	background-color:#82bf40;
}
.top_content_instructors .area_foto{
	height:219px;
	width:219px;
	float:left;
	background-color:#717171;
}
.top_content_instructors .titulo_instrutor{
	margin-left:20px;
	float:left;
	color:#0c212e;
	font-size:22px;
}
.separador_thick{
	width:100%;
	z-index:2;
	position:relative;
	background-color:#82bf40;
	height:9px;	
}
.separador_thin{
	width:100%;
	background-color:#82bf40;
	height:1px;	
}
.content_texto{
	width:640px;
	padding-top:10px;
	padding-left:20px;	
	padding-right:20px;	
	line-height:20px;
}
.content_texto .bullet{
	float:left;
	margin-top:4px;	
	margin-right:10px;
}
#content_interior .icons_partilha{
	margin-left:20px;
	margin-top:15px;
	margin-bottom:15px;	
}



	
.clear{
	clear:both;	
}
.branco{
	color:#fff;	
}
.verde{
	color:#82bf40;	
}
.preto{
	color:#000;	
}
a.preto{
	text-decoration:underline;
}
.texto15{
	font-size:15px;	
}
.texto19{
	font-size:19px;	
}
.texto23{
	font-size:23px;	
}
.texto26{
	font-size:26px;	
}
.texto30{
	font-size:30px;	
}
.texto36{
	font-size:36px;	
}
.h5{
	height:5px;	
}
.h10{
	height:10px;	
}
.h15{
	height:15px;	
}
.h20{
	height:20px;	
}
.h30{
	height:30px;	
}
.light{
	 font-family: 'claire_handlight';
}
.regular{
	 font-family: 'claire_handregular';
}
.bold{
	 font-family: 'claire_handbold';
}
.corpo_texto{
	font-family:'UniversNextW04-320CondL';
	
}



@font-face {
    font-family: 'claire_handbold';
    src: url('clairehandbold-webfont.eot');
    src: url('clairehandbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('clairehandbold-webfont.woff') format('woff'),
         url('clairehandbold-webfont.ttf') format('truetype'),
         url('clairehandbold-webfont.svg#claire_handbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'claire_handlight';
    src: url('clairehandlight-webfont.eot');
    src: url('clairehandlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('clairehandlight-webfont.woff') format('woff'),
         url('clairehandlight-webfont.ttf') format('truetype'),
         url('clairehandlight-webfont.svg#claire_handlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'claire_handregular';
    src: url('clairehandregular-webfont.eot');
    src: url('clairehandregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('clairehandregular-webfont.woff') format('woff'),
         url('clairehandregular-webfont.ttf') format('truetype'),
         url('clairehandregular-webfont.svg#claire_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*simple weather*/




/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons
*/

@font-face {
    font-family: 'weather';
    src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}



#weather {
  width: 226px;
  height:449px;
  margin: 0px auto;
  text-align: center;
  position:absolute;
  text-transform: uppercase;
  z-index:14;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

